@media screen and (max-width:768px) and (orientation: portrait){
.car1td {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/500.png) no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 128px; height: 83px; top: 40px; left: 170px
}
.car2td {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/500c.png) no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 132px; height: 79px; top: 40px; left: 450px
}
.checkbox1td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 60px; left: 150px
}
.checkbox2td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 60px; left: 430px
}
.checkbox3td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.text1td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: font;
    color: #333333;
    top: 60px; left: 310px;
}
.text2td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: font;
    color: #333333;
    top: 60px; left: 590px
}
.text3td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: font;
    color: #333333;
}
.title-selector {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin-top: 10px;
    padding: 0;
    width: 60px; height: 39px; top: 60px; left: 50px
}
.f1 {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 380px; height: 300px; top: 140px; left: 50px
}
.f1 input:focus:invalid, textarea:focus:invalid {
    background: #ccc url(../img/invalid.png) no-repeat 98.1% center;
}
.f1 input:required:valid, textarea:required:valid {
    background: #ccc url(../img/valid.png) no-repeat 98.1% center;
}
.f2 {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 380px; height: 300px; top: 140px; left: 400px
}
.f2 input:focus:invalid, textarea:focus:invalid {
    background: #ccc url(../img/invalid.png) no-repeat 98.1% center;
}
.f2 input:required:valid, textarea:required:valid {
    background: #ccc url(../img/valid.png) no-repeat 98.1% center;
}
.brochure {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: font;
    font-size: 1.5em;
    color: #9d1b46;
    width: 150px; height: 50px; top: 373px; left: 50px
}
.testdrive {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: font;
    font-size: 1.5em;
    color: #9d1b46;
    width: 150px; height: 70px; top: 373px; left: 370px
}
.checkbox4td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 410px; left: 50px
}
.checkbox5td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 410px; left: 370px
}
.text4td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 200px; height: 39px; top: 413px; left: 80px
}
.text5td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 250px; height: 39px; top: 413px; left: 400px
}
.divider {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    height: 2px;
    background: #bababa;
    width: 700px; height: 2px; top: 460px; left: 40px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#bababa), to(#fff));
}
.text6td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 320px; height: 139px; top: 480px; left: 50px
}
.text7td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 320px; height: 139px; top: 480px; left: 420px
}
.checkbox6td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 550px; left: 50px
}
.checkbox7td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 550px; left: 150px
}
.checkbox8td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 550px; left: 250px
}
.checkbox9td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 550px; left: 350px
}
.text8td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 45px; height: 39px; top: 553px; left: 80px
}
.text9td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 553px; left: 180px
}
.text10td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 553px; left: 280px
}
.text11td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 553px; left: 380px
}
.submit {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 230px; height: 59px; left: 20px;
}
.tc {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: .8em;
    color: #8d8d8d;
    clear: both;
    width: 159px; height: 39px; top: 710px; left: 270px
}
.tc a {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: .9em;
    color: #8d8d8d;
    clear: both;
}
.modal-message {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
    z-index: 123;
    display: none;
}
.modal-message .message {
    position: absolute;
    top: 0%;
    width: 100%;
    
}
.modal-message .message-form {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0px;
    left: 50%;
    width: 800px;
    height: 700px;
    font-weight: bold;
    color: green;
}
.modal-message .btn-danger, .modal-message .btn-danger:focus, .modal-message .btn-danger:active {
    width: 800px;
    height: 700px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    right: 10px;
    top: 12px;
    outline: none;
}
.modal-message .message-form.error {
    color: red;
}
.drawer {
    height: 830px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.clickme-noimage {

    background-repeat: no-repeat;
    display: block;
    height: 77px;
    margin-left: 30%;


}
.clickme {
    background: url(../img/UP-Discover.png);
    background-repeat: no-repeat;
    display: block;
    height: 77px;
    margin-left: 30%;


}
    
.drawer-content {
    background: url(../img/form-background.jpg);
    background-size: cover;
    padding-top: 22px;
    position: relative;
    background-repeat: no-repeat;
    border-collapse: collapse;
    height: 745px;
    width: 100%;
    display: none;
    border-bottom: 10px;
    border-color: #000;
    z-index: 0;

}
.bar-bottom{
  background: #9d1b46;
  width: 100%;
  height: 8px;
  top: 739px;
  position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
}
@media screen and (min-width:768px) and (orientation: landscape){
.car1td {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/500.png) no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 128px; height: 83px; top: 20px; left: 300px
}
.car2td {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/500c.png) no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 132px; height: 79px; top: 20px; left: 580px
}
.checkbox1td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 40px; left: 280px
}
.checkbox2td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 40px; left: 560px
}
.checkbox3td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.text1td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: font;
    color: #333333;
    top: 40px; left: 440px;
}
.text2td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: font;
    color: #333333;
    top: 40px; left: 720px
}
.text3td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: font;
    color: #333333;
}
.title-selector {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin-top: 10px;
    padding: 0;
    width: 60px; height: 39px; top: 40px; left: 180px
}
.f1 {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 380px; height: 300px; top: 120px; left: 180px
}
.f1 input:focus:invalid, textarea:focus:invalid {
    background: #ccc url(../img/invalid.png) no-repeat 98.1% center;
}
.f1 input:required:valid, textarea:required:valid {
    background: #ccc url(../img/valid.png) no-repeat 98.1% center;
}
.f2 {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 380px; height: 300px; top: 120px; left: 530px
}
.f2 input:focus:invalid, textarea:focus:invalid {
    background: #ccc url(../img/invalid.png) no-repeat 98.1% center;
}
.f2 input:required:valid, textarea:required:valid {
    background: #ccc url(../img/valid.png) no-repeat 98.1% center;
}
.brochure {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: font;
    font-size: 1.5em;
    color: #9d1b46;
    width: 150px; height: 50px; top: 353px; left: 180px
}
.testdrive {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: font;
    font-size: 1.5em;
    color: #9d1b46;
    width: 150px; height: 70px; top: 353px; left: 500px
}
.checkbox4td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 390px; left: 180px
}
.checkbox5td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px; height: 25px; top: 390px; left: 500px
}
.text4td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 200px; height: 39px; top: 393px; left: 210px
}
.text5td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 250px; height: 39px; top: 393px; left: 530px
}
.divider {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    height: 2px;
    background: #bababa;
    width: 700px; height: 2px; top: 430px; left: 170px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#bababa), to(#fff));
}
.text6td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 320px; height: 139px; top: 450px; left: 180px
}
.text7td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 320px; height: 139px; top: 450px; left: 550px
}
.checkbox6td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 520px; left: 180px
}
.checkbox7td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 520px; left: 280px
}
.checkbox8td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 520px; left: 380px
}
.checkbox9td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 520px; left: 480px
}
.text8td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 45px; height: 39px; top: 523px; left: 210px
}
.text9td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 523px; left: 310px
}
.text10td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 523px; left: 410px
}
.text11td {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 39px; height: 39px; top: 523px; left: 510px
}
.submit {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 90px;
    width: 300px; height: 59px;
}
.tc {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin-left: 120px;
    padding: 0;
    font-size: .8em;
    color: #8d8d8d;
    clear: both;
    width: 159px; height: 39px; left: 290px
}
.tc a {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: .9em;
    color: #8d8d8d;
    clear: both;
}
.modal-message {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
    z-index: 123;
    display: none;
}
.modal-message .message {
    position: absolute;
    top: 0%;
    width: 100%;
    
}
.modal-message .message-form {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0px;
    left: 50%;
    width: 800px;
    height: 700px;
    font-weight: bold;
    color: green;
}
.modal-message .btn-danger, .modal-message .btn-danger:focus, .modal-message .btn-danger:active {
    width: 800px;
    height: 700px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    right: 10px;
    top: 12px;
    outline: none;
}
.modal-message .message-form.error {
    color: red;
}
.drawer {
    height: 768px;
    overflow: hidden;
    position: absolute;
    width: 1024px;
    z-index: -1;
}

.clickme {
    background: url(../img/UP-Discover.png);
    background-repeat: no-repeat;
    height: 77px;
    margin-left: 36%;
}

    
.drawer-content {
    background: url(../img/form-background.jpg);
    background-size: cover;
    padding-top: 22px;
    background-repeat: no-repeat;
    border-collapse: collapse;
    height: 675px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: none;
    border-bottom: 10px;
    border-color: #000;
}
.bar-bottom{
  background: #9d1b46;
  width: 100%;
  height: 8px;
  top: 668px;
  position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
}
