<div>

	<script type = "text/javascript">
		function pic0()
        {
            document.getElementById("img").src = "img/cars/Tech-House-Grey.jpg";
        }
        function pic1()
        {
            document.getElementById("img").src = "img/cars/Volare-Blue.jpg";
        }
        function pic2()
        {
            document.getElementById("img").src = "img/cars/Countrypolitan-Yellow.jpg";
        }
        function pic3()
        {
            document.getElementById("img").src = "img/cars/Bossa-Nova-White.jpg";
        }
        function pic4()
        {
            document.getElementById("img").src = "img/cars/New-Age-Cream.jpg";
        }
        function pic5()
        {
            document.getElementById("img").src = "img/cars/Pasodoble-Red.jpg";
        }
        function pic6()
        {
            document.getElementById("img").src = "img/cars/Smooth-Mint.jpg";
        }
        function pic7()
        {
            document.getElementById("img").src = "img/cars/Urban-White.jpg";
        }
        function pic8()
        {
            document.getElementById("img").src = "img/cars/Electronica-Blue.jpg";
        }
        function pic9()
        {
            document.getElementById("img").src = "img/cars/Electroclash-Grey.jpg";
        }
        function pic10()
        {
            document.getElementById("img").src = "img/cars/Chillout-Purple.jpg";
        }
        function pic11()
        {
            document.getElementById("img").src = "img/cars/Epic-Blue.jpg";
        }
        function pic12()
        {
            document.getElementById("img").src = "img/cars/Groovemetal-Grey.jpg";
        }
        function pic13()
        {
            document.getElementById("img").src = "img/cars/Crossover-Black.jpg";
        }
    </script>

     <script>

    //     $('#buttons').click(function(e){    
    //         $('#img').fadeOut('slow', function(){
    //             $('#img').fadeIn('slow');
    //         });
    //     });

    // </script>

	<header-section></header-section>
    <form-section></form-section>
	<div class="row content">
        <div class="col-sm-12">
        	<img class="car-switch" src = "img/cars/Bossa-Nova-White.jpg" id = "img" />
        </div>
        <div class="col-sm-11">

        <div class="box">
			<div class="wrap">
				<div id="buttons">
					<input id="button-switch" name="pic0" type="button" value="" onclick="pic0()" style="background-image: url(img/colors/Tech-House-Grey.png); "/>
					<input id="button-switch" name="pic1" type="button" value="" onclick="pic1()" style="background-image: url(img/colors/Volare-Blue.png); "/>
					<input id="button-switch" name="pic2" type="button" value="" onclick="pic2()" style="background-image: url(img/colors/Cosmopolitan-Yellow.png); "/>
					<input id="button-switch" name="pic3" type="button" value="" onclick="pic3()" style="background-image: url(img/colors/Bossa-Nova.png); "/>
					<input id="button-switch" name="pic4" type="button" value="" onclick="pic4()" style="background-image: url(img/colors/New-Age-Cream.png); "/>
					<input id="button-switch" name="pic5" type="button" value="" onclick="pic5()" style="background-image: url(img/colors/Pasodoble-Red.png); "/>
					<input id="button-switch" name="pic6" type="button" value="" onclick="pic6()" style="background-image: url(img/colors/Smooth-Mint.png); "/>
					<input id="button-switch" name="pic7" type="button" value="" onclick="pic7()" style="background-image: url(img/colors/Urban-White.png); "/>
					<input id="button-switch" name="pic8" type="button" value="" onclick="pic8()" style="background-image: url(img/colors/Electronica-Blue.png); "/>
					<input id="button-switch" name="pic9" type="button" value="" onclick="pic9()" style="background-image: url(img/colors/Electroclash-grey.png); "/>
					<input id="button-switch" name="pic10" type="button" value="" onclick="pic10()" style="background-image: url(img/colors/Chillout-Purple.png); "/>
					<input id="button-switch" name="pic11" type="button" value="" onclick="pic11()" style="background-image: url(img/colors/Epic-Blue.png); "/>
					<input id="button-switch" name="pic12" type="button" value="" onclick="pic12()" style="background-image: url(img/colors/Groove-Metal-Grey.png); "/>
					<input id="button-switch" name="pic13" type="button" value="" onclick="pic13()" style="background-image: url(img/colors/Crossover-Black.png); "/>
				</div>
			</div>
		</div>

        </div>
    </div>
	<footer-nav></footer-nav>
</div>