<header id="form-button-top" class="clickme"></header>
<section class="drawer">
        <div class="drawer-content">
            <div class="modal-message">
                <div class="message">
                    <div class="message-form"> dsg sdg s dg dsg dsg</div>
                    <button class="btn btn-danger">x</button>
                </div>
            </div>
            
            <form action="#" id="form-fiat">
                <span class="car1td">
                    </span>
                <span class="car2td">
                    </span>
                <span class="checkbox1td" >
                  <input type="radio" value="500" id="checkbox1td" name="modelname" checked />
                  <label for="checkbox1td"></label>
                </span>
                <span class="checkbox2td">
                  <input type="radio" value="500c" id="checkbox2td" name="modelname" checked />
                  <label for="checkbox2td"></label>
                </span>
                <span class="text1td">
                    <p>500</p>
                    </span>
                <span class="text2td">
                    <p>500c</p>
                    </span>
                <span class="title-selector">
                    <select id="title" name="title" value="title">
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Miss.">Miss</option>
                        <option value="Ms.">Ms.</option>
                    </select>
                    </span>
                <span class="f1">
                    <div class="forms">
                        <input type="text" id="first_name" name="firstname" placeholder="first name*" required></br>
                        <input type="text" id="last_name" name="surname" placeholder="surname*" required></br>
                        <input type="text" id="email" name="email" placeholder="email*" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"></br>
                        <input type="text" id="email" name="email_confirmation" placeholder="confirm email*" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" oninput="check(this)"></br>
                    </div>
                    </span>
                <span class="f2">
                    <div class="forms">
                        <input type="text" id="postcode" name="postcode" placeholder="postcode*" required></br>
                        <input type="text" id="address1" name="add1" placeholder="address1*" required></br>
                        <input type="text" id="address2" name="add2" placeholder="address2*" required></br>
                        <input type="text" id="phone" name="tel" placeholder="telephone*" required pattern="(\+?\d[- .]*){11,13}"></br>
                    </div>
                    </span>
                <span class="brochure">
                    <p>Brochure</p>
                    </span>
                <span class="testdrive">
                    <p>Test Drive</p>
                    </span>
                <span class="checkbox4td">
                  <input type="radio" value="BR" id="checkbox4td" name="requesttype" checked />
                  <label for="checkbox4td"></label>
                </span>
                <span class="checkbox5td">
                  <input type="radio" value="TD" id="checkbox5td" name="requesttype" checked />
                  <label for="checkbox5td"></label>
                </span>
                <span class="text4td">
                    <p>I'd like to order a brochure</p>
                    </span>
                <span class="text5td">
                    <p>Contact me to arrange a test drive</p>
                    </span>
                <span class="divider">
                    </span>
                <span class="text6td">
                    <p>The data you provide in this form will be processed, stored and used in accordance with the terms set out in our <a href="http://www.fiat.co.uk/privacy">privacy policy</a>.</p>
                    </span>
                <span class="text7td">
                    <p>We’d like to contact you about our products, offers and services. Please indicate how you would like us to contact you.</p>
                    </span>
                <span class="checkbox6td">
                    <input type="checkbox" id="checkbox6td" name="oTel">
                    <label for="checkbox6td"></label>
                    </span>
                <span class="checkbox7td">
                    <input type="checkbox" id="checkbox7td" name="oEmail">
                    <label for="checkbox7td"></label>
                    </span>
                <span class="checkbox8td">
                    <input type="checkbox" id="checkbox8td" name="oPost">
                    <label for="checkbox8td"></label>
                    </span>
                <span class="checkbox9td">
                    <input type="checkbox" id="checkbox9td" name="oSms">
                    <label for="checkbox9td"></label>
                    </span>
                <span class="text8td">
                    <p>Phone</p>
                    </span>
                <span class="text9td">
                    <p>Email</p>
                    </span>
                <span class="text10td">
                    <p>Post</p>
                    </span>
                <span class="text11td">
                    <p>SMS</p>
                    </span>
                <span class="submit" style="top: 83%;">
                    <input class="submit" type="submit" value="Submit" />
                    </span>
                <span class="tc" style="width: 159px; height: 39px; top: 88%;">
                    <a href="#" onClick="MyWindow=window.open('http://www.fiat.co.uk/uk/termsandconditions','MyWindow',width=300,height=300); return false;">Terms and conditions</a>
                    </span>
            </form>
            <div class="bar-bottom"></div>
        </div>
        <header id="form-button-form" class="clickme"></header>
</section>

    <script>

    function check(input) {
        if (input.value != document.getElementById('email').value) {
            input.setCustomValidity('Email Must be Matching.');
        } else {
            input.setCustomValidity('');
        }
    }

    $(function() {

        $('#form-button-form').hide();

        $('#form-button-top').click(function() {

            $('#form-button-top').hide();
            $('#form-button-form').show();
            $('.drawer').css("z-index", 1);
            $('.drawer-content').slideToggle(700);
           
        });

        $('#form-button-form').click(function() {

            $('.drawer-content').slideToggle(700, function() {
                $('.drawer').css("z-index", -1);
                $('#form-button-top').show();
                $('#form-button-form').hide();
            });
        });

    });
    </script>